@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --clr-blue-main: #6887ff;
    --clr-blue-scd: #007bff ;
    --clr-blue-wrapper : #b5c4ff;
    --clr-blue-light : #eff4f9;
    --border-radius-main : 7px;
    --border-radius-max : 10em;
}

div[shadow] {
    border: 0px solid black;
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, 6px 4px 25px rgba(214, 214, 214, 0.62);
    background: #ffffff;
}

div[wrapper] {
    background-color: white;
    border-radius:0px 0px var(--border-radius-main) var(--border-radius-main);
    padding: 10px 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    justify-content:center;
    position: relative;
    width: 20rem;
    margin-bottom: 4rem;

}
.form-input{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid var(--clr-blue-scd);
    border-radius:var(--border-radius-max);
    color: black;
    outline: none;
    background: none;
    padding: 1.25rem;
    height: 3rem;
}
.form-input:hover{
    border-color:var(--clr-blue-main);
}
.form-input:focus{
    border-color: dimgrey;
}



.accordion{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    width: 100%;
    background-color:#eff4f9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: var(--border-radius-main);
}
